{%- if predictive_search.performed -%}
  {% assign term = predictive_search.terms | escape %}
  {% assign products = predictive_search.resources.products %}
  {% assign articles = predictive_search.resources.articles %}
  {% assign products_count = products.size %}
  {% assign articles_count = articles.size %}

  <div id="predictive-search-results" class="predictive-search__results page-width" tabindex="-1">
    <div class="predictive-search__grid">

      <!-- LEFT COLUMN: PRODUCTS -->
      <div class="predictive-search__col predictive-search__col--left">
        <div class="predictive-search__header">
          <h3>{{ products_count }} styles</h3>
          <a href="{{ routes.search_url }}?q={{ term | url_encode }}&type=product&options%5Bprefix%5D=last">
            View all
          </a>
        </div>

        {% if products_count > 0 %}
          <ul class="predictive-search__list predictive-search__list--products" role="list">
            {% for product in products %}
              <li>
                {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: settings.card_image_ratio | default: 'adapt',
                  show_vendor: false,
                  show_rating: true,
                  lazy_load: true
                %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <!-- RIGHT COLUMN: ARTICLES -->
      <div class="predictive-search__col predictive-search__col--right">
        <div class="predictive-search__header">
          <h3>{{ articles_count }} articles</h3>
          <a href="{{ routes.search_url }}?q={{ term | url_encode }}&type=article&options%5Bprefix%5D=last">
            View all
          </a>
        </div>

        {% if articles_count > 0 %}
          <ul class="predictive-search__list predictive-search__list--articles" role="list">
            {% for article in articles %}
              <li>
                {% render 'article-card',
                  article: article,
                  show_image: true,
                  show_date: true,
                  show_author: false,
                  show_badge: true,
                  media_aspect_ratio: 1,
                  lazy_load: true
                %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

    </div>
  </div>
{%- endif -%}
